# Defines users that can access the web (console, demo, etc.)
# username: password [,rolename ...]
{{activemq_admin_user}}: {{activemq_admin_passwd}}, admin
{{activemq_user_name}}: {{activemq_user_passwd}}, user
