{
  "Name": "process",
  "ClassName": "org.qbroker.monitor.ServiceMonitor",
  "Site": "LITS",
  "Type": "ServiceMonitor",
  "Category": "PROCESS",
  "Description": "monitoring a service on Monit",
  "Step": "1",
  "Tolerance": "1",
  "MaxRetry": "2",
  "MaxPage": "2",
  "QuietPeriod": "60",
  "ExceptionTolerance": "-1",
  "URI": "report:///process",
  "ServiceName": "##service##",
  "ServiceType": "process",
  "EvalTemplate": "(##state## == 512) || (##memory_percent## > 30.0)",
  "StatsLog": "{{log_dir}}/stats/##service##.proc",
  "ActiveTime": {
    "TimeWindow": [
      {
        "Interval": "00:00:00-24:00:00"
      }
    ]
  }
}
