{
  "Name": "queue_jmx",
  "ClassName": "org.qbroker.monitor.JMXQMonitor",
  "Site": "LITS",
  "Type": "JMXQMonitor",
  "Category": "AMQ",
  "Description": "JMX queue monitor on ##queue##",
  "URI": "service:jmx:rmi:///jndi/rmi://localhost:1099/jmxrmi",
  "MBeanName": "org.apache.activemq:type=Broker,brokerName={{broker_name}},destinationType=Queue,destinationName=##queue##",
  "Step": "1",
  "Tolerance": "2",
  "MaxRetry": "1",
  "MaxPage": "1",
  "QuietPeriod": "30",
  "ExceptionTolerance": "-1",
  "Username": "admin",
  "Password": "activemq",
  "StatsLog": "{{log_dir}}/stats/##queue##.mq",
  "ActiveTime": {
    "TimeWindow": [
      {
        "Interval": "00:00:00-24:00:00"
      }
    ]
  }
}
